extends  components/head
block body
    body
        include components/header
        main
            section.home__featuresBoxes
                +homeBox(titles[0], descriptions[0],"Get an invite", mainImages[0], false, true)
                +homeBox(titles[1], descriptions[1],"View the stories", mainImages[1], true)
                +homeBox(titles[2], descriptions[2],"View the stories", mainImages[2], false)
            section.gallery__container
                +galleryItem(galleryTitles[0], galleryAuthors[0], "mountains")
                +galleryItem(galleryTitles[1], galleryAuthors[1], "cityscapes")
                +galleryItem(galleryTitles[2], galleryAuthors[2], "18-days-voyage")
                +galleryItem(galleryTitles[3], galleryAuthors[3], "architecturals")
            section.features__container
                .page__container.page__container--home
                    +feature("responsive.svg", featuresTitles[0], featuresDescriptions[0])
                    +feature("no-limit.svg", featuresTitles[1], featuresDescriptions[1])
                    +feature("embed.svg", featuresTitles[2], featuresDescriptions[2])
        include components/footer
