section.beta__container
    .page__container
        h1.beta__title We're in beta. Get your invite today!
        button.beta__action Get an invite
            img(src="assets/shared/desktop/arrow-white.svg")