footer
    img.footer__logo
    nav.footer__menu
        ul
            li Home
            li Stories
            li Features
            li Pricing
    .footer__socialLink
        i(class="fab fa-facebook-square")
        i(class="fab fa-instagram")
        i(class="fab fa-twitter")
        i(class="fab fa-pinterest")
        i(class="fab fa-youtube")
    .footer__actionButton
        button.footer__button Get an invite
            img(src="assets/shared/desktop/arrow.svg")
    .footer__copyright
        |Copyright 2019. All Rights Reserved