footer.footer
    .page__container
        img.footer__logo(src="assets/shared/desktop/logo-white.svg")
        nav.footer__menu
            ul
                li: a(href="./index.html") Home
                li: a(href="./stories.html") Stories
                li: a(href="./features.html") Features
                li: a(href="./pricing.html") Pricing
        .footer__socialLinks
            a(href="www.facebook.com"): i(class="fab fa-facebook-square")
            a: i(class="fab fa-instagram")
            a: i(class="fab fa-twitter")
            a: i(class="fab fa-pinterest")
            a: i(class="fab fa-youtube")
        button.footer__action Get an invite
                img(src="assets/shared/desktop/arrow-white.svg")
        .footer__copyright
            |Copyright 2019. All Rights Reserved