header
    .page__container
        a(href=("./"))
            img.header__logo(src="assets/shared/desktop/logo.svg")
        .header__menu
            nav.menu
                ul.menu__list
                    li: a(href="./stories.html") Stories
                    li: a(href="./features.html") Features
                    li: a(href="./pricing.html") Pricing
                button.menu__button Get an invite