header
    .page__container
        img.header__logo(src="assets/shared/desktop/logo.svg")
        .menu__container
            nav.menu
                ul.menu__list
                    li Stories
                    li Features
                    li Pricing
                button.menu__button Get an invite